<!DOCTYPE html>
<html>
  <head>
    <title>GSM BOARD TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Title</h1>
    <p>접근 가능 페이지</p>
    <ul>
      <li><a href="<%= target1 %>">보기</a></li>
      <li><a href="<%= target2 %>">작성</a></li>
      <li><a href="<%= target3 %>">수정</a></li>
      <li><a href="<%= target4 %>">목록</a></li>
    </ul>
  </body>
</html>
