<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/board/<%= board %>/<%= nid %>/deleteDo" method="get">
      <h1><%= title %></h1>
      <input type="submit" value="삭제!">
    </form>
  </body>
</html>
