<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="board/deleteDo/?id=<%= nid %>" method="post">
      <h1><%= title %></h1>
      <input type="button" name="ddd" value="삭제!">
    </form>
  </body>
</html>
