<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit</title>
  </head>
  <body>
    <form class="" action="/board/<%= board %>/<%= data['boardNum'] %>/editDo" method="post">
      <input type="text" name="title" value="<%= data['title'] %>">
      <textarea name="text" rows="8" cols="80"><%= data['contents'] %></textarea>
      <input type="submit" >
    </form>
  </body>
</html>
