<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <% if (typeof flagDelete !== "undefined") { %>
      <script type="text/javascript">
        alert("삭제 완료")
      </script>
    <% } %>
    <% for (var i in Array(10)) { %>
      abc
    <% } %>
  </body>
</html>
