<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <% if (typeof flagDelete !== "undefined") { %>
      <script type="text/javascript">
        alert("삭제 완료")
      </script>
    <% } %>
    <ul>
      <li><%= list['title'] list['content'] list['hits'] list['writer']</li>
    </ul>
    <%=
    <% for (var i in dbdata) { %>
      abc
    <% } %>
  </body>
</html>
