<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <% for (var i = 0; i < 3; i++) { %>
      abc
    <% } %>
  </body>
</html>
