<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <% if ((typeof flagDelete) !== "undefined") { %>
      <script type="text/javascript">
        alert("삭제 완료")
      </script>
    <% } %>
    <ul>
    <% for (var i in list) { %>
      <li><%= list[i].title %> <%= list[i].contents %> <%= list[i].hits %> <%= list[i].writerID %></li>
    <% } %>
    </ul>
  </body>
</html>
